@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap');

body{
    font-family: "Nanum Gothic", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background-color: #f4f4f9;
}
  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  .table-head {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .table-cell {
    border: 1px solid #dddddd;
    padding: 10px;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .highlight {
    font-weight: bold;
    color: #d9534f;
  }

  .main-container {
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    /* max-width: 800px; */
    width: 100%;     
  }

  h2{
    text-align: left;
    margin-bottom: 20px;
}

.title-underline {
    border: none;
    border-bottom: 2px solid #007bff;
    width: 100%;
    margin-bottom: 20px;
}

.search-form {
   width: 100%;
}
.search-group {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.search-group label {
  font-weight: bold;
  margin-right: 5px;
}

.search-group select,
.search-group input,
.search-group input[type="button"]{
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.search-group input[type="button"] {

  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.search-group input[type="button"]:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 16px;
  gap: 5px;
}

.pagination  a{
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}
.pagination a:hover{
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff;
}

/* .pagination a.active{ 
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff;
}  */
 
.pagination a.disabled{
  background-color: #f8f9fa;
  color: #000;
  pointer-events: none;
  border-color: #dddddd; 
  cursor: not-allowed;
}