.container {
  width: 210px;
    display: flex;
}
.container-fluid {
    flex-grow: 1;
    background-color: #ffffff;
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
.container-fluid:hover {
    background-color: #000000;
    color: #00ff00;
}
.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    height: 100vh;
    padding: 20px;
}
.sidebar h2 {
    margin-top: 0;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
}
